extends layout

block content
  h1 Master List
  p
    a(href='/master') New Master
  ul
    each master in masters
      li 
        a(href='/master/' + master.id)= master.name
    else
      li No Master
