extends layout

block content
  h1 New Master and Pet
  form(action='/master' method='POST')
    div Master Name: 
      input(type='text' name='masterName')
    div Pet Name:
      input(type='text' name='petName')
    div
      input(type='submit')
